<h1>Veuillez confirmer votre demande de changement de mot de passe.</h1>

<p>
    Vous pouvez accéder au formulaire de changement de mot de passe au lien suivant : <br /><br />
    <a href="{{ resetUrl|raw }}">Changer de mot de passe</a>.
    Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
</p>
<p>
    Si le lien ne s'affiche pas, saisissez l'adresse suivante : {{ resetUrl|raw }}
</p>

<p>
    Cordialement,
</p>
