# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    mailer.email: '%env(EMAIL)%'
    mailer.sender: '%env(SENDER_NAME)%'
    mailer.subject: '%env(EMAIL_SUBJECT)%'
    mailer.frontend: '%env(FRONTEND_URL)%'
    mailer.backend: '%env(BACKEND_URL)%'


services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    gesdinet_jwt_refresh_token.event_listener.attach_refresh_token:
        class: App\Security\Listener\Auth\AttachRefreshTokenOnSuccessListener
        arguments:
            $refreshTokenManager: '@gesdinet_jwt_refresh_token.refresh_token_manager'
            $refreshTokenGenerator: '@gesdinet_jwt_refresh_token.refresh_token_generator'
            $requestStack: '@request_stack'
            $extractor: '@Gesdinet\JWTRefreshTokenBundle\Request\Extractor\ExtractorInterface'
            $cookieSettings: '%gesdinet_jwt_refresh_token.cookie%'
            $ttlShort: 86400
            $ttlLong: 7776000
            $tokenParameterName: '%gesdinet_jwt_refresh_token.token_parameter_name%'
            $singleUse: '%gesdinet_jwt_refresh_token.single_use%'
            $returnExpiration: '%gesdinet_jwt_refresh_token.return_expiration%'
            $returnExpirationParameterName: '%gesdinet_jwt_refresh_token.return_expiration_parameter_name%'
        tags:
            - name: kernel.event_listener
              event: lexik_jwt_authentication.on_authentication_success
              method: attachRefreshToken

    App\OpenApi\Auth\LoginCheckDecorator:
        decorates: 'api_platform.openapi.factory'
        decoration_priority: -100
        arguments: ['@App\OpenApi\Auth\LoginCheckDecorator.inner']

    #App\Security\Auth\TtlProvider:
        #arguments:
            #$requestStack: '@request_stack'
            #$ttlShort: 86400
            #$ttlLong: 7776000

    #App\Security\Auth\JWTCookieProvider:
        #decorates: lexik_jwt_authentication.cookie_provider.BEARER
        #arguments:
            #$inner: '@.inner'
            #$ttlProvider: '@App\Security\Auth\TtlProvider'
